/* MyComponentStyles.module.css */

@font-face {
  font-family: 'Chakra Petch';
  src: url('/fonts/ChakraPetch-Regular.ttf') format('truetype');
}


.customDiv {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Chakra Petch", monospace;
  cursor: url("/icons/cursors/Cursor.svg"), default;

  @media (max-width: 720px) {
    font-size: 16px;
  }
}

.button {
  all: unset;
  background-image: url("/buttons/button/Default.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 20px;
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 32px;
  font-size: 1rem;
}

.button:hover {
  cursor: url("/icons/cursors/touchCursor.svg"), default;
  background-image: url("/buttons/button/Hover.svg");
}

.button:focus {
  background-image: url("/buttons/button/Focus.svg");
}

.button openTerminal {
  all: unset;
  background-image: url("/buttons/button/Default.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 20px;
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px 32px;
  font-size: 1rem;
}

.button:hover openTerminal {
  cursor: url("/icons/cursors/touchCursor.svg"), default;
  background-image: url("/buttons/button/Hover.svg");
}

@media (max-width: 428px) { 
   .button {
    padding: 15px 16px; 
    font-size: 0.8rem;
  } 
}
